

<h3>{{title}}
<span class="subheader">by {{author}} ({{date publishedAt}})</span></h3>
<hr />
<p>{{markdown intro}}</p>


<div class="below-the-fold">
  {{markdown extended}}
</div>

{{#if isEditing}}
{{partial 'post/edit'}}
  <button {{action 'doneEditing'}} class="button success expand"> Done</button>
{{else}}
  <button {{action 'edit'}} class="button secondary expand"> Edit</button>
{{/if}}
