
<div class="panel radius callout">
  <h2>{{title}}</h2>
</div>

<h4>Posted by {{author}} {{date publishedAt}}</h4>

<h4 class="subheader">
  {{markdown intro}}
</h3>


<h5 class="subheader">
  {{markdown extended}}
</h5>

{{#if locked}}
  {{partial 'messages/locked'}}
{{ else }}
  {{#if isEditing}}
  {{partial 'post/edit'}}
    <button {{action 'doneEditing'}} class="button success expand"> Done</button>
  {{else}}
    <button {{action 'edit'}} class="button secondary expand"> Edit</button>
  {{/if}}
{{/if}}
